---
---

@import "{{ site.theme }}";
$dark : #272727;
$light : #fafafa;
$default-background : #000;

body {
    header {
        h1 a{
            color: hsla(35, 91%, 91%, 0.94);
        }
        h1 a:hover{
            color: hsla(35, 91%, 91%, 0.77);
    }
    
    background-color: $default-background;
    color: set-text-color($default-background);

    a {
        color: #00abab;

    }

    a:hover {
        color: #006868;
    }
    
    :is(h1, h2, h3, h4, h5, h6) {
        color: #fff;
    }
    h1 {
        color: #fa3a3a;
        font-size: 3rem;
    }

    code, pre {
        overflow-x: visible;
    }
    .ascii {
        overflow-x: visible;
    }
    img {
        overflow-x: visible;
    }
    footer {color: #fafdfa;}
}

@function set-text-color($color) {
    @if (lightness( $color ) > 50) {
        @return $black;
    }
    @else {
        @return $white;
    }
  }
}

