---
---

@import "{{ site.theme }}";
$dark : #29292f;
$light : #fafafa;
$default-background : #232323;

@function set-text-color($color) {
    @if (lightness( $color ) > 50) {
        @return $black;
    }
    @else {
        @return $white;
    }
}



body {
    
     background-color: $default-background!important;
     color: set-text-color($default-background);

    header {
        h1 a{
            color: hsla(27, 86%, 50%, 1);
        }
        h1 a:hover{
            color: hsla(27, 91%, 50%, 0.77);
    }
    
    a {
        color: #00abab;
    }

    a:hover {
        color: #006868;
    }
    
    :is(h1, h2, h3, h4, h5, h6) {
        color: set-text-color($default-background);
    }
    h1 {
        font-weight: 800;
     }

    code, pre {
        background-color: #557573;
    }
    .ascii {
        overflow-x: visible;
    }
    img .logo {
        max-width: 180%;
        overflow-x: visible;
    }
    footer {color: #fafdfa;}
}
