---
---

@import "{{ site.theme }}";
body {
    header {
        h1 a{
            color: hsla(35, 91%, 91%, 0.94);
        }
    }
    background-color: #292929;
    color: #fff;

    a {
        color: #00abab;

    }

    a:hover {
        color: #006868;
    }

    h1 {
        font-size: 3rem;
    }

    code, pre {
        overflow-x: visible;
    }
    .ascii {
        overflow-x: visible;
    }

    footer {color: #fafdfa;}
}

