<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p><i>{{ site.description | default: site.github.project_tagline }}</i></p>
        <div class="sidebar">
        </div>
        <div></div>
        <h3 id="-blog-posts-blog-"><a href="/archive" title="blog">blog</a></h3>
        <h3 id="-about-about-about-"><a href="/about" title="about">about</a></h3>
        <h3 id="-why-why-why-"><a href="/why" title="why">why</a></h3>
        <h3 id="-interesting-interesting-interesting"><a href="/interesting" title="interesting">interesting</a></h3>
        <h3 id="-projects-projects-projects"><a href="/typing" title="typing">projects</a></h3>
        <!-- <h3><a href="/bezos" title="jeff (not that jeff)">jeff altar</a></h3> -->
        <button id="toggleUI" onclick="flipSwitch()" style="display: none;"> i </button>
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <sup>7te7te7te7te7te7te7te7te7te7te7te7te7te7te7te7te7te7te</sup>
      </footer>
    </div>
    <script src="/assets/js/fp.min.js"></script>
    <script>
      const fp = FingerprintJS.load({ /* ... */ })
      const result = fp.get()
      const visitorId = result.visitorId
      console.log(visitorId)
    </script>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
